body{
 background-color: black;
}
.title{
 color: rgb(202, 44, 44);
 text-align: center;
 margin:3%;
}
.array{
 width: 520px;
}
.statement{
 color: white;
 font-size: 23px;
}
.answer{
background-color:rgb(226, 43, 58);
width: 217px;
height: 100px;
font-size: 45px;
color: white; 
}